:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  /* padding: 0.55em 0.55em; */
  /* margin: 0.55em 0.55em; */
  background-color: transparent;
  /* border: 2px solid var(--input-border); */
  border-style: none;
  border-radius: 4px;
  max-width: 1rem;
  margin: auto;
}


/* .input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
} */

/* .col{
    padding: 0;
} */
.input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
}

.input:focus {
    /* ...existing styles */
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) +
            40%), 0.8);
  }
 .input:focus {
    outline: 3px solid transparent;
  }
  :focus{outline: none;}

  /* necessary to give position: relative to parent. */
  /* input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;
    display: flex;
    } */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: #2196F3;
        padding: 5%;
        /* max-width: 80%; */
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10%;
        font-size: 3 rem;
        text-align: center;
      }
      .grid-item.br-right{
        border-right: 3px solid rgba(0, 0, 0, 0.8);
      }
      .grid-item.br-bot{
        border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    }